body {
    background: url(images/woodfireStock.jpg);
    color: #F2B872;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background: #590209;
    margin: 15px;
}

h1 {
    color:#f14620;
}